.main-bg {
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem; /* 1200px */
    margin: 0 auto;
    padding: var(--gap);
    padding-top: 8rem;
}

.section {
    min-height: 100vh; /* Full viewport height */
}